/* global.css */
:root {
    --background-color: #282c34;
    --text-color: #c3c3c3;
    --primary-color: #f8b415;
    --primary-color-hover: #e09e13;
    --secondary-color: #313641;
    --secondary-color-hover: #434d5a;
    --accent-color: #ee5867;
    --font-family: 'Roboto Mono', monospace;
    --font-weight: 400;
}

* {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 20px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    cursor: pointer;
    border: none;
}