@import url("global.css");

/* header.css */
.logo-container {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 14px;
}

.logo-container .logo-icon {
    width: 50px;
}

.logo-icon,
.option-icon,
.start-test-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    margin: auto 0;
}

.logo-text {
    flex-grow: 1;
    margin: auto 0;
}

