/* layout.css */
.typing-test-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 60px;
}

.test-options {
    width: 100%;
    flex-direction: column;
    font-size: 20px;
    margin-top: 333px;
}

.content-wrapper {
    margin-top: 333px;
}